In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [2]:
# Define DB credentials
db_user = "ml_user"
db_password = "MLuserSecurePwd2024"
db_name = "titanic_db"
db_host = "127.0.0.1"
db_port = "5433"

In [4]:
# Load Titanic dataset
df = pd.read_csv("../../shared/datasets/titanic.csv")

In [5]:
# Connect using SQLAlchemy
engine = create_engine(f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

In [6]:
# Write to SQL (replace if exists)
df.to_sql("passengers", engine, if_exists="replace", index=False)

print("✅ Data uploaded to Cloud SQL")

✅ Data uploaded to Cloud SQL

In [10]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://ml_user:MLuserSecurePwd2024@127.0.0.1:5433/titanic_db")

# Simple query
df = pd.read_sql('SELECT "Survived", COUNT(*) FROM passengers GROUP BY "Survived"', engine)
df.head()

   Survived  count
0         0    549
1         1    342